@page
@model WebApp.Pages.OrderOverviewModel
@{
}

<div>   
    <div class="order-form">
    <form method="post">
        <h1 class="page-title" style="margin-bottom:50px;">Order Overview</h1>

        @foreach (var ticketGroup in Model.Order.Tickets.GroupBy(t => t.TicketType))
        {
            
            <div class="ticket-container">
                <p class="ticket-type">Ticket Type: @ticketGroup.Key</p>
                <div class="ticket-info">
                    <p style="font-size: 26px;">x @ticketGroup.Count()</p>
                    <p class="ticket-price">@ticketGroup.First().Price.ToString("F2")€</p>
                </div>
            </div>
        }

        <div class="order-details">
            <p>
                Valid Date: @Model.Order.Date.ToString("MMMM/dd/yyyy")
            </p>
            <p>
                Total: @Model.Order.TotalPrice.ToString("F2")€
            </p>
        </div>

        
        <div class="discount">
            <label>If you have a discount code from one of our partners, enter it here:</label>
            <input type="text" asp-for="DiscountCode" text="@Model.DiscountCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="margin-top: 3px; padding-left:0;" class="order-details">
                <button asp-page-handler="ValidateDiscount" style="width: 220px; height: 50px; display: flex; justify-content: center; border-radius:3px; align-items: center; padding-left:0; padding-right:0;" type="submit">Validate Discount</button>
                @if(Model.TotalPriceAfterDiscount == 0) 
                {
                    <p>
                        Total after discount: @Model.Order.TotalPrice.ToString("F2")€
                    </p>
                }
                else 
                {
                    <p>
                        Total after discount: @Model.TotalPriceAfterDiscount.ToString("F2")€
                    </p>
                }
            </div>
                
        </div>

    </form>
        <form method="post">
            <p style="margin-top: 80px;" class="ticket-type">Payment Methods:</p>

            <div class="payment-container">
                <div class="payment-method">
                    <label>
                        <input type="radio" name="paymentMethod" value="Ideal" checked>
                        Ideal
                    </label>
                    <img style="height: 60px; width: auto;" src="~/images/ideal-logo.png" alt="Ideal">
                </div>
            </div>

            <div class="payment-container">
                <div class="payment-method">
                    <label>
                        <input type="radio" name="paymentMethod" value="PayPal">
                        PayPal
                    </label>
                    <img style="height: 60px; width: auto;" src="~/images/paypal-logo.png" alt="PayPal">
                </div>
            </div>

            <div class="payment-container">
                <div class="payment-method">
                    <label>
                        <input type="radio" name="paymentMethod" value="CreditCard">
                        Credit Card
                    </label>
                    <img style="height: 60px; width: auto;" src="~/images/credit-card-icons.jpg" alt="Credit Card">
                </div>
            </div>

            <button asp-page-handler="Checkout" style="margin-top:60px; margin-bottom:20px;" type="submit" class="order-button">Submit Order</button>
        </form>
    </div>
       
</div>
