@page
@using BusinessLogic; 
@model WebApp.Pages.ScheduleModel
@{

    <div class="schedulePage">
    
    <header class="mini-nav">
        <ul>
            <li><a asp-page="/Schedule">Schedule</a></li>
            <li><a asp-page="/User">My details</a></li>
        </ul>
    </header>
        <h2>Schedule</h2>

        <div class="tab">
            <button class="tablinks" onclick="openSetting(event, 'Today')">Today</button>
            <button class="tablinks" onclick="openSetting(event, 'Tommorow')">Tommorow</button>
            <button class="tablinks" onclick="openSetting(event, 'Week')">This Week</button>
            <button class="tablinks" onclick="openSetting(event, 'NextWeek')">Next Week</button>
        </div>
    

        <!-- TabContent -->
        <div id="Today" class="tabcontent">
            <h2>Today's tasks</h2>
            <div class="tasks">
                @foreach (ZooTask task in Model.Tasks)
                {
                    if(task.TaskDateTime >= DateTime.Today && task.TaskDateTime < DateTime.Today.AddDays(1))
                    {
                        <div class="task">
                            <h3>Task: @task.Name</h3>
                            <p>Date and time: @task.TaskDateTime.ToString("dd/MM/yyyy HH:mm")</p>
                            <p>Area: @task.EnclosureArea</p>
                            <p>Enclosure: @task.EnclosureNumber</p>
                            <a asp-page="TaskDetails" asp-route-id="@task.ID">Details</a>

                        </div>
                    }
                }
            </div>
        </div>

        <div id="Tommorow" class="tabcontent">
            <h2>Tommorow tasks</h2>
            <div class="tasks">

                @foreach (ZooTask task in Model.Tasks)
                {
                    if (task.TaskDateTime >= DateTime.Today.AddDays(1) && task.TaskDateTime < DateTime.Today.AddDays(2))
                    {
                        <div class="task">
                            <h3>Task: @task.Name</h3>
                            <p>Date and time: @task.TaskDateTime.ToString("dd/MM/yyyy HH:mm")</p>
                            <p>Area: @task.EnclosureArea</p>
                            <p>Enclosure: @task.EnclosureNumber</p>
                            <a asp-page="TaskDetails" asp-route-id="@task.ID">Details</a>

                        </div>
                    }
                }

            </div>
        </div>

        <div id="Week" class="tabcontent">
            <h2>Tasks this week</h2>
            <div class="tasks">

                @foreach (ZooTask task in Model.Tasks)
                {
                    int dayOfWeek = (int)DateTime.Today.DayOfWeek;
                    if (task.TaskDateTime >= DateTime.Today.AddDays(-dayOfWeek+1) && task.TaskDateTime < DateTime.Today.AddDays(7-dayOfWeek))
                    {
                        <div class="task">
                            <h3>Task: @task.Name</h3>
                            <p>Date and time: @task.TaskDateTime.ToString("dd/MM/yyyy HH:mm")</p>
                            <p>Area: @task.EnclosureArea</p>
                            <p>Enclosure: @task.EnclosureNumber</p>
                            <a asp-page="TaskDetails" asp-route-id="@task.ID">Details</a>
                        </div>
                    }
                }

            </div>
        </div>

        <div id="NextWeek" class="tabcontent">
            <h2>Next weeks tasks</h2>
            <div class="tasks">

                @foreach (ZooTask task in Model.Tasks)
                {
                    int dayOfWeek = (int)DateTime.Today.DayOfWeek;
                    if (task.TaskDateTime >= DateTime.Today.AddDays(-dayOfWeek + 8) && task.TaskDateTime < DateTime.Today.AddDays(14 - dayOfWeek))
                    {
                        <div class="task">
                            <h3>Task: @task.Name</h3>
                            <p>Date and time: @task.TaskDateTime.ToString("dd/MM/yyyy HH:mm")</p>
                            <p>Area: @task.EnclosureArea</p>
                            <p>Enclosure: @task.EnclosureNumber</p>
                            <a asp-page="TaskDetails" asp-route-id="@task.ID">Details</a>

                        </div>
                    }
                }

            </div>
        </div>

    </div>


    //script for the tabs
    <script type="text/javascript" language="javascript">
        function openSetting(evt, accountDetail) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(accountDetail).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
}
