@page
@using BusinessLogic; 
@model WebApp.Pages.TaskScheduleModel
@{

    <div class="schedulePage">
    
    <header class="mini-nav">
        <ul>
            <li><a asp-page="/ShiftSchedule">Shifts</a></li>
            <li><a asp-page="/TaskSchedule">My tasks</a></li>
            <li><a asp-page="/User">My details</a></li>
        </ul>
    </header>
        <h2>Today's tasks</h2>
        <div id="Today">
            <div class="tasks">
                @if (Model.Tasks
                    .Any(
                        x => 
                        x.TaskDateTime >= DateTime.Today &&
                        x.TaskDateTime < DateTime.Today.AddDays(1) &&
                        x.Status == "Assigned"))
                {
                    @foreach (ZooTask task in Model.Tasks
                        .Where(
                            x =>
                            x.TaskDateTime >= DateTime.Today && 
                            x.TaskDateTime < DateTime.Today.AddDays(1) &&
                            x.Status == "Assigned"))
                    {
                        <div class="task">
                            <h3>Task: @task.Name</h3>
                            <p><b>Date and time:</b> @task.TaskDateTime.ToString("dd/MM/yyyy - HH:mm")</p>
                            <p><b>Area:</b> @task.EnclosureArea</p>
                            <p><b>Enclosure:</b> @task.EnclosureNumber</p>
                            <a asp-page="TaskDetails" asp-route-id="@task.ID">Details</a>
                        </div>
                    }
                }
                else
                {
                    <div class="task">
                        <p>No tasks are scheduled for today!</p>
                    </div>
                }
            </div>
        </div>
    </div>


    //script for the tabs
    <script type="text/javascript" language="javascript">
        function openSetting(evt, accountDetail) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(accountDetail).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
}
