@page
@model WebApp.Pages.UserModel
@{
    <header class="mini-nav">
    <ul>
        <li><a asp-page="/ShiftSchedule">My shifts</a></li>
        <li><a asp-page="/TaskSchedule">My tasks</a></li>
        <li><a asp-page="/User">My details</a></li>
    </ul>
        
    </header>

    <div class="emp-details-div">
        <h2>User Details</h2>
        <ul class="employee-details">
            <li>First Name: <b>@Model.FirstName</b></li>
            <li>Last Name: <b>@Model.LastName</b></li>
            <li>Email address: <b>@Model.Email</b></li>
            <li>Address: <b>@Model.Address</b></li>
            <li>Birth date: <b>@Model.BirthDate.ToString("dd/MM/yyyy")</b></li>
            <li>Gender: <b>@Model.PersonGender</b></li>
            <li>Phone: <b>@Model.Phone</b></li>
        </ul>
        <a href="/UserEditDetails">
            <button class="edit-link-button" id="loginButton">Edit</button>
        </a>
    </div>
}
